<div style="background-color:#f1faee; padding:20px; border:4px solid #009739; border-radius:8px; margin:auto;">

<h1 style="color:#009739; text-align:center;">SUSEP Seguro Auto</h1>
<h3 style="text-align:center;">Analysis of Vehicle Insurance Patterns in Brazil (2017â€“2020)</h3>

<p style="text-align:center; font-size:16px; color:#2c3e50;">
Analyzing real automobile insurance data from SUSEP to uncover insights about exposure, premiums, and claim behavior across regions, vehicle models, and driver profiles.
</p>

</div>

## ðŸ’¡ Project Overview

This notebook explores automobile insurance statistics from the **SUSEP AUTOSEG system**, covering the years **2017â€“2020**.  
The goal is to analyze claim frequency, exposure, and premium behavior to identify trends across:
- Regions of Brazil  
- Vehicle categories and models  
- Driver age and gender profiles  

---

<div style=" background-color:#f1faee; padding:15px; border-left:6px solid #009739; border-radius:4px;">
  <h1 style="margin-top:0; color:#2c3e50;">1. Importing Libraries</h1>
  <p style="font-size:16px;">
    Importing the essential Python libraries required for data analysis.
  </p>
</div>

In [3]:
import pandas as pd
import numpy as np

<div style=" background-color:#f1faee; padding:15px; border-left:6px solid #009739; border-radius:4px;">
  <h1 style="margin-top:0; color:#2c3e50;">2. Loading the Dataset</h1>
  <p style="font-size:16px;">
    Load the multiple SUSEP Excel files for each semester from 2017 to 2020,
    and combine them into a single DataFrame for analysis.
  </p>
</div>

In [4]:
insurance_companies_2017A_df = pd.read_csv("arq_casco_comp_2017A.csv", sep=';', encoding='latin1')
insurance_companies_2017B_df = pd.read_csv("arq_casco_comp_2017B.csv", sep=';', encoding='latin1')
insurance_companies_2018A_df = pd.read_csv("arq_casco_comp_2018A.csv", sep=';', encoding='latin1')
insurance_companies_2018B_df = pd.read_csv("arq_casco_comp_2018B.csv", sep=';', encoding='latin1')
insurance_companies_2019A_df = pd.read_csv("arq_casco_comp_2019A.csv", sep=';', encoding='latin1')
insurance_companies_2019B_df = pd.read_csv("arq_casco_comp_2019B.csv", sep=';', encoding='latin1')
insurance_companies_2020A_df = pd.read_csv("arq_casco_comp_2020A.csv", sep=';', encoding='latin1')
insurance_companies_2020B_df = pd.read_csv("arq_casco_comp_2020B.csv", sep=';', encoding='latin1')

/var/folders/vr/yjxcyfyj701ff1bhxnyl9_3w0000gn/T/ipykernel_15543/1835046704.py:1: DtypeWarning: Columns (1,3) have mixed types. Specify dtype option on import or set low_memory=False.
  insurance_companies_2017A_df = pd.read_csv("arq_casco_comp_2017A.csv", sep=';', encoding='latin1')
/var/folders/vr/yjxcyfyj701ff1bhxnyl9_3w0000gn/T/ipykernel_15543/1835046704.py:2: DtypeWarning: Columns (1,3) have mixed types. Specify dtype option on import or set low_memory=False.
  insurance_companies_2017B_df = pd.read_csv("arq_casco_comp_2017B.csv", sep=';', encoding='latin1')
/var/folders/vr/yjxcyfyj701ff1bhxnyl9_3w0000gn/T/ipykernel_15543/1835046704.py:3: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  insurance_companies_2018A_df = pd.read_csv("arq_casco_comp_2018A.csv", sep=';', encoding='latin1')
/var/folders/vr/yjxcyfyj701ff1bhxnyl9_3w0000gn/T/ipykernel_15543/1835046704.py:4: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  insurance_companies_2018B_df = pd.read_csv("arq_casco_comp_2018B.csv", sep=';', encoding='latin1')
/var/folders/vr/yjxcyfyj701ff1bhxnyl9_3w0000gn/T/ipykernel_15543/1835046704.py:5: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  insurance_companies_2019A_df = pd.read_csv("arq_casco_comp_2019A.csv", sep=';', encoding='latin1')
/var/folders/vr/yjxcyfyj701ff1bhxnyl9_3w0000gn/T/ipykernel_15543/1835046704.py:6: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  insurance_companies_2019B_df = pd.read_csv("arq_casco_comp_2019B.csv", sep=';', encoding='latin1')
/var/folders/vr/yjxcyfyj701ff1bhxnyl9_3w0000gn/T/ipykernel_15543/1835046704.py:8: DtypeWarning: Columns (12,16,18,20) have mixed types. Specify dtype option on import or set low_memory=False.
  insurance_companies_2020B_df = pd.read_csv("arq_casco_comp_2020B.csv", sep=';', encoding='latin1')

In [5]:
# List of all the dataframes
dfs = {
    "2017A": insurance_companies_2017A_df,
    "2017B": insurance_companies_2017B_df,
    "2018A": insurance_companies_2018A_df,
    "2018B": insurance_companies_2018B_df,
    "2019A": insurance_companies_2019A_df,
    "2019B": insurance_companies_2019B_df,
    "2020A": insurance_companies_2020A_df,
    "2020B": insurance_companies_2020B_df
}

#concat the df's in one df
insurance_companies_all_df = pd.concat(dfs.values(), ignore_index=True)

<div style="background-color:#f1faee;padding:15px; border-left:6px solid #009739; border-radius:4px;">
  <h1 style="margin-top:0; color:#2c3e50;">3. Creating a Working Copy</h1>
  <p style="font-size:16px;">
    To keep the original data safe, we'll create a copy named <code>df</code> for data cleaning and analysis.
  </p>
</div>

In [6]:
df = insurance_companies_all_df #.copy()

In [5]:
df.shape

(22685413, 22)

<div style="background-color:#f1faee;padding:15px; border-left:6px solid #009739; border-radius:4px;">
  <h1 style="margin-top:0; color:#2c3e50;">4. Data Cleaning and Preparation</h1>
  <p style="font-size:16px;">
    Check for missing values, duplicates, and data types to confirm data quality and structure.
  </p>
</div>

In [6]:
df.head()

,COD_TARIF,REGIAO,COD_MODELO,ANO_MODELO,SEXO,IDADE,EXPOSICAO1,PREMIO1,EXPOSICAO2,PREMIO2,...,INDENIZ1,FREQ_SIN2,INDENIZ2,FREQ_SIN3,INDENIZ3,FREQ_SIN4,INDENIZ4,FREQ_SIN9,INDENIZ9,ENVIO
0,1,,005280-9,2010,M,5,"0,0602739714086056","53,1366119384766",0,0,...,0,0,0,0,0,0,0,0,0,2017A
1,1,,005280-9,2011,M,3,"0,504109561443329","642,491821289063",0,0,...,0,0,0,0,0,0,0,0,0,2017A
2,1,,005280-9,2011,M,4,"0,219178080558777","177,923492431641",0,0,...,0,0,0,0,0,0,0,0,0,2017A
3,1,,005280-9,2011,M,5,"0,504109561443329","386,601104736328",0,0,...,0,0,0,0,0,0,0,0,0,2017A
4,1,,005280-9,2012,F,2,"0,00821917783468962","19,2704925537109",0,0,...,0,0,0,0,0,0,0,0,0,2017A

## Check for missing values:

In [8]:
df.isnull().sum().sort_values(ascending=False)

COD_TARIF     0
REGIAO        0
INDENIZ9      0
FREQ_SIN9     0
INDENIZ4      0
FREQ_SIN4     0
INDENIZ3      0
FREQ_SIN3     0
INDENIZ2      0
FREQ_SIN2     0
INDENIZ1      0
FREQ_SIN1     0
IS_MEDIA      0
PREMIO2       0
EXPOSICAO2    0
PREMIO1       0
EXPOSICAO1    0
IDADE         0
SEXO          0
ANO_MODELO    0
COD_MODELO    0
ENVIO         0
dtype: int64

## Check for duplicates:

In [9]:
df.duplicated().sum()

np.int64(0)

## Check data types:

In [10]:
df.dtypes

COD_TARIF      int64
REGIAO        object
COD_MODELO    object
ANO_MODELO    object
SEXO          object
IDADE          int64
EXPOSICAO1    object
PREMIO1       object
EXPOSICAO2     int64
PREMIO2        int64
IS_MEDIA      object
FREQ_SIN1      int64
INDENIZ1      object
FREQ_SIN2      int64
INDENIZ2      object
FREQ_SIN3      int64
INDENIZ3      object
FREQ_SIN4      int64
INDENIZ4      object
FREQ_SIN9      int64
INDENIZ9      object
ENVIO         object
dtype: object

In [7]:
# since the typical in Brazilian CSVs that use commas , instead of dots .
cols_with_comma = ['EXPOSICAO1', 'PREMIO1', 'IS_MEDIA',
                   'INDENIZ1', 'INDENIZ2', 'INDENIZ3', 'INDENIZ4', 'INDENIZ9']

for c in cols_with_comma:
    df[c] = df[c].astype(str).str.replace(',', '.').astype(float)

In [12]:
df.dtypes

COD_TARIF       int64
REGIAO         object
COD_MODELO     object
ANO_MODELO     object
SEXO           object
IDADE           int64
EXPOSICAO1    float64
PREMIO1       float64
EXPOSICAO2      int64
PREMIO2         int64
IS_MEDIA      float64
FREQ_SIN1       int64
INDENIZ1      float64
FREQ_SIN2       int64
INDENIZ2      float64
FREQ_SIN3       int64
INDENIZ3      float64
FREQ_SIN4       int64
INDENIZ4      float64
FREQ_SIN9       int64
INDENIZ9      float64
ENVIO          object
dtype: object

## Cleaning each column by Check Unique

### Cleaning "Tariff_Code" Column

In [13]:
df['COD_TARIF'].unique()

array([1, 2, 3, 4, 5, 6, 7, 9])

In [14]:
#no need to clean it, because it's clean

### Cleaning "Gender_Code" Column

In [15]:
df['SEXO'].unique()

array(['M', 'F', 'J', '0', '7', '1', '2', '3', '4', '5', '6', 'N', ' '],
      dtype=object)

In [8]:
# Clean the SEXO column
df['SEXO'] = df['SEXO'].astype(str).str.strip()  # remove extra spaces
df.loc[~df['SEXO'].isin(['M', 'F', 'J', '0']), 'SEXO'] = '0'  # replace invalid values with '0'

df['SEXO'].value_counts()

SEXO
M    9934574
F    7522784
J    4255111
0     972944
Name: count, dtype: int64

### Cleaning "Region_Code" Column

In [17]:
df['REGIAO'].unique()

array(['  ', '00', '01', '02', '03', '04', '05', '06', '07', '08', '09',
       '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20',
       '21', '22', '23', '24', '25', '26', '27', '28', '29', '30', '31',
       '35', '36', '37', '38', '39', '40', '41', '32', '34', '33', ' .',
       '* ', 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30,
       31, 35, 36, 37, 38, 39, 40, 41, 1, 2, 4, 5, 7, 9, 11, 13, 3, 6, 8,
       12, 14, 15, 0, 10, 42, 43, 44, 46, 47, 48, 50, 51, 52, 53, 54, 55,
       56, 57, 58, 59, 60, 61, 63, 64, 65, 66, '44', '45', '46', '47',
       '48', '49', '50', '51', '52', '54', '55', '56', '66', '67', '68',
       '57', '58', '59', '60', '61', '63', '64', 32, '43', '65', 33, 45,
       34, 49, '62', '71', '9 ', '53', '74', '75', '81', '0 ', '85', '84',
       '42', '7 ', '1 ', '8 ', '2 ', '5 ', '6 ', '3 ', '4 ', '99', 99],
      dtype=object)

In [9]:
# Clean the REGIAO column
df['REGIAO'] = df['REGIAO'].astype(str).str.strip()  # remove spaces
df['REGIAO'] = df['REGIAO'].str.zfill(2)             # pad single digits (e.g., '1' â†’ '01')

df['REGIAO'].unique()

array(['00', '01', '02', '03', '04', '05', '06', '07', '08', '09', '10',
       '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21',
       '22', '23', '24', '25', '26', '27', '28', '29', '30', '31', '35',
       '36', '37', '38', '39', '40', '41', '32', '34', '33', '0.', '0*',
       '42', '43', '44', '46', '47', '48', '50', '51', '52', '53', '54',
       '55', '56', '57', '58', '59', '60', '61', '63', '64', '65', '66',
       '45', '49', '67', '68', '62', '71', '74', '75', '81', '85', '84',
       '99'], dtype=object)

In [10]:
#check invalid count and percentage
valid_regions = [str(i).zfill(2) for i in range(1, 42)]
invalid_regions = df.loc[~df['REGIAO'].isin(valid_regions), 'REGIAO']
invalid_percent = (len(invalid_regions) / len(df)) * 100
print(f"Invalid region rows: {len(invalid_regions)} ({invalid_percent}%)")

Invalid region rows: 334656 (1.475203471058693%)

In [11]:
#Delete invalid region rows
df = df[df['REGIAO'].isin(valid_regions)]

In [12]:
#Re-check invalid count and percentage (should now be 0%)
invalid_regions = df.loc[~df['REGIAO'].isin(valid_regions), 'REGIAO']
invalid_percent = (len(invalid_regions) / len(df)) * 100
print(f"Invalid region rows: {len(invalid_regions)} ({invalid_percent}%)")

Invalid region rows: 0 (0.0%)

### Cleaning "Submission_Code" Column

In [22]:
df['ENVIO'].unique()

array(['2017A', '2017B', '2018A', '2018B', '2019A', '2019B', '2020A',
       '2020B'], dtype=object)

In [23]:
#no cleaning needed

### Cleaning "Vehicle_Model_Code" Column

In [24]:
df['COD_MODELO'].unique()

array(['001417-6', '001418-4', '001419-2', ..., '400430-9', '004529-2',
       '880002-2'], shape=(12416,), dtype=object)

In [13]:
Vehicle_Model_Code_df = pd.read_csv("auto2_vei.csv", sep=';', encoding='latin1')
Vehicle_Model_Code_df

,CODIGO,DESCRICAO,GRUPO,COD_GRUPO
0,038003-2,Acura - Integra GS 1.8,ACURA,1
1,038002-4,Acura - Legend 3.2/3.5,ACURA,1
2,038001-6,Acura - NSX 3.0,ACURA,1
3,840015-6,ADLY - ATV 100,ADLY MOTOS - TODAS,2
4,840014-8,ADLY - ATV 50,ADLY MOTOS - TODAS,2
...,...,...,...,...
8491,023090-1,LIVINA X-GEAR 1.6 16V Flex Fuel Mec.,NISSAN LIVINA,562
8492,023095-2,LIVINA X-GEAR S 1.6 16V Flex Fuel,NISSAN LIVINA,562
8493,023091-0,LIVINA X-GEAR SL 1.6 16V Flex Fuel Mec.,NISSAN LIVINA,562
8494,023092-8,LIVINA X-GEAR SL 1.8 16V Flex Fuel Aut.,NISSAN LIVINA,562
8495,023099-5,NISSAN LIVINA NIGHT & DAY 1.6 16V FLEX,NISSAN LIVINA,562

In [14]:
#Extract valid model codes from auto2_vei.csv
valid_models = Vehicle_Model_Code_df['CODIGO'].astype(str).unique()
#Identify invalid codes in your main dataset
invalid_models = df.loc[~df['COD_MODELO'].isin(valid_models), 'COD_MODELO']
invalid_percent = (len(invalid_models) / len(df)) * 100

print(f"Invalid vehicle model rows: {len(invalid_models)} ({invalid_percent}%)")

Invalid vehicle model rows: 856892 (3.8338388270249637%)

In [15]:
#Delete invalid models rows
df = df[df['COD_MODELO'].isin(valid_models)]

In [16]:
#Re-check invalid count and percentage (should now be 0%)
invalid_models = df.loc[~df['COD_MODELO'].isin(valid_models), 'COD_MODELO']
invalid_percent = (len(invalid_models) / len(df)) * 100

print(f"Invalid vehicle model rows: {len(invalid_models)} ({invalid_percent}%)")

Invalid vehicle model rows: 0 (0.0%)

### Cleaning "Model_Year" Column

In [17]:
df['ANO_MODELO'].unique()

array([2016, 2015, 2010, 2011, 2013, 2017, 2008, 2009, 2014, 2012, 2006,
       2007, 2001, 1998, 1999, 2000, 2002, 2004, 2005, 2003, 1995, 1996,
       1997, 1994, 1993, 1983, 1987, 1991, 1985, 1986, 1984, 1988, 1989,
       1990, 1992, 1976, 1975, 1981, 1971, 1978, 1979, 1980, 1982, 1972,
       1974, 1977, 2018, '2014', '2015', '2016', '2004', '2005', '2006',
       '2002', '2003', '2010', '2008', '2012', '2013', '2009', '2011',
       '2017', '2007', '1993', '1995', '1996', '1997', '1998', '1999',
       '2000', '2001', '1994', '1992', '1965', '1968', '1969', '1970',
       '1971', '1972', '1973', '1974', '1990', '1984', '1989', '1977',
       '1980', '1982', '1986', '1987', '1988', '1991', '1985', '1975',
       '1976', '1978', '1979', '1981', '1983', 0, 1970, 1973, 1968, 1966,
       1969, 1952, 1960, 1962, 1963, 1967, '2018', '1955', '1958', '1960',
       '1961', '1963', '1964', '1966', '1967', '    ', '0   ', 1951, 1948,
       1954, 1955, 1958, 1965, 1961, 1964, '1946', '1950', '1951', '1954',
       '1957', '1962', '1939', '1944', '1953', '1959', 1946, 1959, 1953,
       1669, 1939, '   .', 2, 8, 10, 1950, 1957, 12, 9, 7, 11, 99, 2019,
       14, 9999, '15  ', 13, 91, 6, 2099, 2098, 2097, 2096, 2095, 2094,
       2093, 2092, 2091, 2089, 2090, 1947, '0000', '2097', '2019', '2099',
       '2096', '2098', '2095', '2094', '2093', '2092', '2091', 2087,
       '2090', 2088, '2089', '  12', '1952', 15, '1947', 'N/I ', '2088',
       '2020', 2020, 1922, 201, 2021, 1956, 198, 1942, 1864, 1949],
      dtype=object)

In [30]:
# The range of the year are besed on:
#Earliest model year: 1935 (since thatâ€™s when the first continuously produced model appeared).
#Latest model year: the insurance year because you canâ€™t insure a future car model.

In [17]:
#creat new column "Insurance_Year" by extract the first 4 digits frpm 'ENVIO'
df['Insurance Year'] = df['ENVIO'].str[:4].astype(int)

In [18]:
#Ensure itâ€™s numeric and remove any invalid entries "the non numirical will become null"
df['ANO_MODELO'] = pd.to_numeric(df['ANO_MODELO'], errors='coerce')

#Count Invalid values "nulls + out of the range"
invalid_mask = (
    df['ANO_MODELO'].isna() |
    (df['ANO_MODELO'] < 1935) |
    (df['ANO_MODELO'] > df['Insurance Year'])
)

invalid_count = invalid_mask.sum()
invalid_percent = (invalid_count / len(df)) * 100

print(f"Invalid ANO_MODELO rows: {invalid_count} ({invalid_percent}%)")

Invalid ANO_MODELO rows: 311198 (1.4478456992262676%)

In [19]:
#Remove invalid rows
df = df[~invalid_mask]

In [20]:
#check again to confirm no invalids remain:
remaining_invalid = df['ANO_MODELO'].isna().sum() + ((df['ANO_MODELO'] < 1935) | (df['ANO_MODELO'] > df['Insurance Year'])).sum()

print(f"Remaining invalid ANO_MODELO rows: {remaining_invalid}")

Remaining invalid ANO_MODELO rows: 0

## Cleaning "Driver_Age_Code" Column

In [35]:
df['IDADE'].unique()

array([5, 1, 2, 3, 4, 0])

In [36]:
#no cleaning needed

## Rename the Columns

In [21]:
df = df.rename(columns={
    'COD_TARIF': 'Tariff Code',
    'REGIAO': 'Region Code',
    'COD_MODELO': 'Vehicle Model Code',
    'ANO_MODELO': 'Model Year',
    'SEXO': 'Gender Code',
    'IDADE': 'Driver Age Code',
    'EXPOSICAO1': 'Exposure1',
    'PREMIO1': 'Premium1',
    'EXPOSICAO2': 'Exposure2',
    'PREMIO2': 'Premium2',
    'IS_MEDIA': 'Avg Insured Value',
    'FREQ_SIN1': 'Claim Freq1',
    'INDENIZ1': 'Indemnity1',
    'FREQ_SIN2': 'Claim Freq2',
    'INDENIZ2': 'Indemnity2',
    'FREQ_SIN3': 'Claim Freq3',
    'INDENIZ3': 'Indemnity3',
    'FREQ_SIN4': 'Claim Freq4',
    'INDENIZ4': 'Indemnity4',
    'FREQ_SIN9': 'Claim Freq9',
    'INDENIZ9': 'Indemnity9',
    'ENVIO': 'Submission Code'
})

<div style="background-color:#f1faee;padding:15px; border-left:6px solid #009739; border-radius:4px;">
  <h1 style="margin-top:0; color:#2c3e50;">5. Exploratory Data Analysis (EDA)</h1>
  <p style="font-size:16px;">
    Explore the dataset to understand key metrics such as exposure, premiums, and claim frequencies.
  </p>
</div>

In [22]:
#Read the remaining CSV : auto_reg.csv
region_df = pd.read_csv("auto_reg.csv", sep=';', encoding='latin1')
region_df['CODIGO'] = region_df['CODIGO'].astype(str).str.zfill(2)
region_df.head()

  CODIGO                               DESCRICAO
0     01  RS - Met. Porto Alegre e Caxias do Sul
1     02                     RS - Demais regiÃµes
2     03           SC - Met. FlorianÃ³polis e Sul
3     04                              SC - Oeste
4     05          SC - Blumenau e demais regiÃµes

## Maps

In [23]:
# Gender map (from auto_sexo)
sex_map = {
    'M': 'Male',
    'F': 'Female',
    'J': 'Corporate',
    '0': 'Not informed'
}

# Vehicle category map (from auto_cat)
vehicle_category_map = {
    '1': 'Passenger (domestic)',
    '2': 'Passenger (imported)',
    '3': 'Pickup (national & imported)',
    '4': 'Cargo vehicle (truck)',
    '5': 'Motorcycle',
    '6': 'Bus',
    '7': 'Utility vehicle',
    '9': 'Other'
}

# Age group map (from auto_idade)
age_map = {
    '0': 'Not informed',
    '1': '18â€“25',
    '2': '26â€“35',
    '3': '36â€“45',
    '4': '46â€“55',
    '5': '55+'
}

## Drop columns

In [24]:
# Drop useless columns
df = df.drop(columns=['Premium2', 'Exposure2'])

# Filter out rows with 0 Premium or Exposure
df = df[(df['Premium1'] > 0) & (df['Exposure1'] > 0)].copy()

print(f"New dataset shape after cleaning: {df.shape}")

New dataset shape after cleaning: (20651636, 21)

## Create derived columns

In [25]:
# Gender
df['Gender'] = df['Gender Code'].map(sex_map)

# Vehicle category
df['Vehicle Category'] = df['Tariff Code'].astype(str).map(vehicle_category_map)

# Driver age group
df['Driver Age Group'] = df['Driver Age Code'].map(age_map)

# Region description
# Merge df with region_df to get region names
df = df.merge(
    region_df[['CODIGO', 'DESCRICAO']],
    left_on='Region Code',   # df code
    right_on='CODIGO',       # auto_reg code
    how='left'
)

# Rename the description column to 'Region'
df = df.rename(columns={'DESCRICAO':'Region'})

# Drop the CODIGO column from the merge
df = df.drop(columns=['CODIGO'])

# Vehicle model and brand
# Merge df with Vehicle_Model_Code_df to get model and brand
df = df.merge(
    Vehicle_Model_Code_df[['CODIGO', 'DESCRICAO', 'GRUPO']],  # only keep needed columns
    left_on='Vehicle Model Code',  # key in df
    right_on='CODIGO',             # key in Vehicle_Model_Code_df
    how='left'                     # keep all rows in df, even if code not found
)

# Rename columns for clarity
df = df.rename(columns={
    'DESCRICAO': 'Vehicle Model',
    'GRUPO': 'Vehicle Brand'
})

# drop CODIGO column since it came from the merge
df = df.drop(columns=['CODIGO'])

## Calculations

In [26]:
# Sum all the types of frequency claims
df['Total Claims'] = df[['Claim Freq1','Claim Freq2','Claim Freq3','Claim Freq4','Claim Freq9']].sum(axis=1)
# Sum all the types of  Indemnity claims
df['Total Indemnity'] = df[['Indemnity1','Indemnity2','Indemnity3','Indemnity4','Indemnity9']].sum(axis=1)
# Loss due to the claims
df['Loss Ratio'] = df['Total Indemnity'] / df['Premium1']
# To categarize calims vs no claims 
df['Has Claim'] = df['Total Claims'].apply(lambda x: 'Claim' if x > 0 else 'No Claim')
# Claim Freq per Exposure
df['Claim Freq per Exposure'] = df['Total Claims'] / df['Exposure1']
# Premium per Exposure
df['Premium per Exposure'] = df['Premium1'] / df['Exposure1']
# Vehicle Age (new or old)
df['Vehicle Age'] = df['Insurance Year'] - df['Model Year']
# If loss ratio <1 means profit, if loss >1 means loss, if = 1 means no loss no profit
def profitability_flag(x):
    if x<1:
        return "Profitable"
    elif x==1:
        return "No Profit & No Loss "
    else:
        return "Loss"
        
    df['Profitability Flag'] = df['Loss Ratio'].apply(profitability_flag)

In [27]:
def claims_status(x):
    if x['Total Claims']>0 and x['Total Indemnity']==0:
        return 'Unpaid Claim' 
    elif x['Total Claims']>0 and x['Total Indemnity']>0:
        return 'Paid Claim'
    else: 
        return 'No Claim'
df['Claims Status']=df.apply(claims_status, axis=1)

## Normalizing Claim Data for Tableau

In [28]:
pd.set_option('display.max_columns', None)

In [30]:
df.head()

,Tariff Code,Region Code,Vehicle Model Code,Model Year,Gender Code,Driver Age Code,Exposure1,Premium1,Avg Insured Value,Claim Freq1,Indemnity1,Claim Freq2,Indemnity2,Claim Freq3,Indemnity3,Claim Freq4,Indemnity4,Claim Freq9,Indemnity9,Submission Code,Insurance Year,Gender,Vehicle Category,Driver Age Group,Region,Vehicle Model,Vehicle Brand,Total Claims,Total Indemnity,Loss Ratio,Has Claim,Claim Freq per Exposure,Premium per Exposure,Vehicle Age,Claims Status
0,1,01,001417-6,2016.0,M,5,1.010959,1176.652893,67127.123661,0,0.0,0,0.0,0,0.0,0,0.0,0,0.0,2017A,2017,Male,Passenger (domestic),NaN,RS - Met. Porto Alegre e Caxias do Sul,Idea ESSENCE SUBLIME Dual.1.6 Flex16V 5p,FIAT IDEA,0,0.0,0.0,No Claim,0.0,1163.897910,1.0,No Claim
1,1,01,001418-4,2015.0,F,1,1.008219,1185.464691,28389.999922,0,0.0,0,0.0,0,0.0,0,0.0,0,0.0,2017A,2017,Female,Passenger (domestic),NaN,RS - Met. Porto Alegre e Caxias do Sul,Palio Way 1.0 Fire Flex 8V 5p,FIAT PALIO 1.0,0,0.0,0.0,No Claim,0.0,1175.800641,2.0,No Claim
2,1,01,001418-4,2015.0,F,2,1.465753,1092.232750,28247.856548,0,0.0,0,0.0,0,0.0,0,0.0,0,0.0,2017A,2017,Female,Passenger (domestic),NaN,RS - Met. Porto Alegre e Caxias do Sul,Palio Way 1.0 Fire Flex 8V 5p,FIAT PALIO 1.0,0,0.0,0.0,No Claim,0.0,745.168162,2.0,No Claim
3,1,01,001418-4,2015.0,F,3,3.030137,3083.024514,27212.704638,0,0.0,0,0.0,0,0.0,0,0.0,0,0.0,2017A,2017,Female,Passenger (domestic),NaN,RS - Met. Porto Alegre e Caxias do Sul,Palio Way 1.0 Fire Flex 8V 5p,FIAT PALIO 1.0,0,0.0,0.0,No Claim,0.0,1017.453874,2.0,No Claim
4,1,01,001418-4,2015.0,F,4,3.772603,2912.872339,28631.963661,0,0.0,0,0.0,0,0.0,0,0.0,0,0.0,2017A,2017,Female,Passenger (domestic),NaN,RS - Met. Porto Alegre e Caxias do Sul,Palio Way 1.0 Fire Flex 8V 5p,FIAT PALIO 1.0,0,0.0,0.0,No Claim,0.0,772.112153,2.0,No Claim

In [29]:
df.columns

Index(['Tariff Code', 'Region Code', 'Vehicle Model Code', 'Model Year',
       'Gender Code', 'Driver Age Code', 'Exposure1', 'Premium1',
       'Avg Insured Value', 'Claim Freq1', 'Indemnity1', 'Claim Freq2',
       'Indemnity2', 'Claim Freq3', 'Indemnity3', 'Claim Freq4', 'Indemnity4',
       'Claim Freq9', 'Indemnity9', 'Submission Code', 'Insurance Year',
       'Gender', 'Vehicle Category', 'Driver Age Group', 'Region',
       'Vehicle Model', 'Vehicle Brand', 'Total Claims', 'Total Indemnity',
       'Loss Ratio', 'Has Claim', 'Claim Freq per Exposure',
       'Premium per Exposure', 'Vehicle Age', 'Claims Status'],
      dtype='object')

In [30]:
df.reset_index(inplace=True)

In [31]:
# Rename index column to id:
df.rename(columns={'index': 'id'}, inplace=True)

In [34]:
df.head()

,id,Tariff Code,Region Code,Vehicle Model Code,Model Year,Gender Code,Driver Age Code,Exposure1,Premium1,Avg Insured Value,Claim Freq1,Indemnity1,Claim Freq2,Indemnity2,Claim Freq3,Indemnity3,Claim Freq4,Indemnity4,Claim Freq9,Indemnity9,Submission Code,Insurance Year,Gender,Vehicle Category,Driver Age Group,Region,Vehicle Model,Vehicle Brand,Total Claims,Total Indemnity,Loss Ratio,Has Claim,Claim Freq per Exposure,Premium per Exposure,Vehicle Age,Claims Status
0,0,1,01,001417-6,2016.0,M,5,1.010959,1176.652893,67127.123661,0,0.0,0,0.0,0,0.0,0,0.0,0,0.0,2017A,2017,Male,Passenger (domestic),NaN,RS - Met. Porto Alegre e Caxias do Sul,Idea ESSENCE SUBLIME Dual.1.6 Flex16V 5p,FIAT IDEA,0,0.0,0.0,No Claim,0.0,1163.897910,1.0,No Claim
1,1,1,01,001418-4,2015.0,F,1,1.008219,1185.464691,28389.999922,0,0.0,0,0.0,0,0.0,0,0.0,0,0.0,2017A,2017,Female,Passenger (domestic),NaN,RS - Met. Porto Alegre e Caxias do Sul,Palio Way 1.0 Fire Flex 8V 5p,FIAT PALIO 1.0,0,0.0,0.0,No Claim,0.0,1175.800641,2.0,No Claim
2,2,1,01,001418-4,2015.0,F,2,1.465753,1092.232750,28247.856548,0,0.0,0,0.0,0,0.0,0,0.0,0,0.0,2017A,2017,Female,Passenger (domestic),NaN,RS - Met. Porto Alegre e Caxias do Sul,Palio Way 1.0 Fire Flex 8V 5p,FIAT PALIO 1.0,0,0.0,0.0,No Claim,0.0,745.168162,2.0,No Claim
3,3,1,01,001418-4,2015.0,F,3,3.030137,3083.024514,27212.704638,0,0.0,0,0.0,0,0.0,0,0.0,0,0.0,2017A,2017,Female,Passenger (domestic),NaN,RS - Met. Porto Alegre e Caxias do Sul,Palio Way 1.0 Fire Flex 8V 5p,FIAT PALIO 1.0,0,0.0,0.0,No Claim,0.0,1017.453874,2.0,No Claim
4,4,1,01,001418-4,2015.0,F,4,3.772603,2912.872339,28631.963661,0,0.0,0,0.0,0,0.0,0,0.0,0,0.0,2017A,2017,Female,Passenger (domestic),NaN,RS - Met. Porto Alegre e Caxias do Sul,Palio Way 1.0 Fire Flex 8V 5p,FIAT PALIO 1.0,0,0.0,0.0,No Claim,0.0,772.112153,2.0,No Claim

In [32]:
# Create the frequency dataframe from all the frequency columns:
claim_freq_df = df[['id', 'Claim Freq1', 'Claim Freq2', 'Claim Freq3', 'Claim Freq4', 'Claim Freq9']]
claim_freq_df

,id,Claim Freq1,Claim Freq2,Claim Freq3,Claim Freq4,Claim Freq9
0,0,0,0,0,0,0
1,1,0,0,0,0,0
2,2,0,0,0,0,0
3,3,0,0,0,0,0
4,4,0,0,0,0,0
...,...,...,...,...,...,...
20651631,20651631,0,0,0,0,0
20651632,20651632,0,1,0,0,2
20651633,20651633,0,1,0,0,1
20651634,20651634,0,0,0,0,0
20651635,20651635,0,0,0,0,0

In [33]:
# Pivot all the frequency columns while fixing the index:
claim_freq_df_p = claim_freq_df.melt(id_vars='id', value_vars= ['Claim Freq1', 'Claim Freq2', 'Claim Freq3', 'Claim Freq4', 'Claim Freq9']).sort_values(by='id')
claim_freq_df_p

                 id     variable  value
0                 0  Claim Freq1      0
20651636          0  Claim Freq2      0
61954908          0  Claim Freq4      0
41303272          0  Claim Freq3      0
82606544          0  Claim Freq9      0
...             ...          ...    ...
82606543   20651635  Claim Freq4      0
41303271   20651635  Claim Freq2      0
20651635   20651635  Claim Freq1      0
61954907   20651635  Claim Freq3      0
103258179  20651635  Claim Freq9      0

[103258180 rows x 3 columns]

In [34]:
# Change column name of 'value' to number of cars:
claim_freq_df_p.rename(columns = {'value': 'Total Claim Frequency'})

                 id     variable  Total Claim Frequency
0                 0  Claim Freq1                      0
20651636          0  Claim Freq2                      0
61954908          0  Claim Freq4                      0
41303272          0  Claim Freq3                      0
82606544          0  Claim Freq9                      0
...             ...          ...                    ...
82606543   20651635  Claim Freq4                      0
41303271   20651635  Claim Freq2                      0
20651635   20651635  Claim Freq1                      0
61954907   20651635  Claim Freq3                      0
103258179  20651635  Claim Freq9                      0

[103258180 rows x 3 columns]

In [35]:
# Drop all frequency columns from the original df:
df.drop(columns = ['Claim Freq1', 'Claim Freq2', 'Claim Freq3', 'Claim Freq4', 'Claim Freq9'], inplace = True)

In [39]:
df.head()

,id,Tariff Code,Region Code,Vehicle Model Code,Model Year,Gender Code,Driver Age Code,Exposure1,Premium1,Avg Insured Value,Indemnity1,Indemnity2,Indemnity3,Indemnity4,Indemnity9,Submission Code,Insurance Year,Gender,Vehicle Category,Driver Age Group,Region,Vehicle Model,Vehicle Brand,Total Claims,Total Indemnity,Loss Ratio,Has Claim,Claim Freq per Exposure,Premium per Exposure,Vehicle Age,Claims Status
0,0,1,01,001417-6,2016.0,M,5,1.010959,1176.652893,67127.123661,0.0,0.0,0.0,0.0,0.0,2017A,2017,Male,Passenger (domestic),NaN,RS - Met. Porto Alegre e Caxias do Sul,Idea ESSENCE SUBLIME Dual.1.6 Flex16V 5p,FIAT IDEA,0,0.0,0.0,No Claim,0.0,1163.897910,1.0,No Claim
1,1,1,01,001418-4,2015.0,F,1,1.008219,1185.464691,28389.999922,0.0,0.0,0.0,0.0,0.0,2017A,2017,Female,Passenger (domestic),NaN,RS - Met. Porto Alegre e Caxias do Sul,Palio Way 1.0 Fire Flex 8V 5p,FIAT PALIO 1.0,0,0.0,0.0,No Claim,0.0,1175.800641,2.0,No Claim
2,2,1,01,001418-4,2015.0,F,2,1.465753,1092.232750,28247.856548,0.0,0.0,0.0,0.0,0.0,2017A,2017,Female,Passenger (domestic),NaN,RS - Met. Porto Alegre e Caxias do Sul,Palio Way 1.0 Fire Flex 8V 5p,FIAT PALIO 1.0,0,0.0,0.0,No Claim,0.0,745.168162,2.0,No Claim
3,3,1,01,001418-4,2015.0,F,3,3.030137,3083.024514,27212.704638,0.0,0.0,0.0,0.0,0.0,2017A,2017,Female,Passenger (domestic),NaN,RS - Met. Porto Alegre e Caxias do Sul,Palio Way 1.0 Fire Flex 8V 5p,FIAT PALIO 1.0,0,0.0,0.0,No Claim,0.0,1017.453874,2.0,No Claim
4,4,1,01,001418-4,2015.0,F,4,3.772603,2912.872339,28631.963661,0.0,0.0,0.0,0.0,0.0,2017A,2017,Female,Passenger (domestic),NaN,RS - Met. Porto Alegre e Caxias do Sul,Palio Way 1.0 Fire Flex 8V 5p,FIAT PALIO 1.0,0,0.0,0.0,No Claim,0.0,772.112153,2.0,No Claim

In [36]:
# Create the indemnity dataframe from all the indemnity columns:
claim_ind_df = df[['id', 'Indemnity1', 'Indemnity2', 'Indemnity3', 'Indemnity4', 'Indemnity9']]
claim_ind_df

                id  Indemnity1  Indemnity2  Indemnity3  Indemnity4  Indemnity9
0                0         0.0         0.0         0.0         0.0         0.0
1                1         0.0         0.0         0.0         0.0         0.0
2                2         0.0         0.0         0.0         0.0         0.0
3                3         0.0         0.0         0.0         0.0         0.0
4                4         0.0         0.0         0.0         0.0         0.0
...            ...         ...         ...         ...         ...         ...
20651631  20651631         0.0         0.0         0.0         0.0         0.0
20651632  20651632         0.0      1199.0         0.0         0.0       414.0
20651633  20651633         0.0      5323.0         0.0         0.0       520.0
20651634  20651634         0.0         0.0         0.0         0.0         0.0
20651635  20651635         0.0         0.0         0.0         0.0         0.0

[20651636 rows x 6 columns]

In [37]:
# Pivot all the indemnity columns while fixing the index:
claim_ind_df_p = claim_ind_df.melt(id_vars='id', value_vars= ['Indemnity1', 'Indemnity2', 'Indemnity3', 'Indemnity4', 'Indemnity9']).sort_values(by='id')
claim_ind_df_p

                 id    variable  value
0                 0  Indemnity1    0.0
20651636          0  Indemnity2    0.0
61954908          0  Indemnity4    0.0
41303272          0  Indemnity3    0.0
82606544          0  Indemnity9    0.0
...             ...         ...    ...
82606543   20651635  Indemnity4    0.0
41303271   20651635  Indemnity2    0.0
20651635   20651635  Indemnity1    0.0
61954907   20651635  Indemnity3    0.0
103258179  20651635  Indemnity9    0.0

[103258180 rows x 3 columns]

In [38]:
# Change column name of 'value' to number of cars:
claim_ind_df_p.rename(columns = {'value': 'Total Claim Indemnity'})

                 id    variable  Total Claim Indemnity
0                 0  Indemnity1                    0.0
20651636          0  Indemnity2                    0.0
61954908          0  Indemnity4                    0.0
41303272          0  Indemnity3                    0.0
82606544          0  Indemnity9                    0.0
...             ...         ...                    ...
82606543   20651635  Indemnity4                    0.0
41303271   20651635  Indemnity2                    0.0
20651635   20651635  Indemnity1                    0.0
61954907   20651635  Indemnity3                    0.0
103258179  20651635  Indemnity9                    0.0

[103258180 rows x 3 columns]

In [39]:
# Drop all indemnity columns from the original df:
df.drop(columns = ['Indemnity1', 'Indemnity2', 'Indemnity3', 'Indemnity4', 'Indemnity9'], inplace = True)

<div style="background-color:#f1faee;padding:15px; border-left:6px solid #009739; border-radius:4px;">
  <h1 style="margin-top:0; color:#2c3e50;">6.  Export Data for Visualization</h1>
  <p style="font-size:16px;">
    Visualize trends and relationships in the dataset. 
    We'll use Brazil's national colors â€” green (<span style="color:#009739;">#009739</span>) and yellow (<span style="color:#FFCC29;">#FFCC29</span>) â€” for highlights.
  </p>
</div>

In [40]:
# Export df:
df.to_csv('SUSEP Seguro Auto.csv', index = False)

In [68]:
# Export claims frequency df:
claim_freq_df_p.to_csv('Claim Frequency.csv', index = False)

In [41]:
# Export claims Indemnity df:
claim_ind_df_p.to_csv('Claim Indemnity.csv', index = False)